<!-- authors Brenton Babbn(babbb@bu.edu)-->
<!doctype html>
<head>
    <title>Create an album!</title>
</head>
    <body>
        <div class="title">
            <h1>Create a new album to store your photos in!</h1>
        </div>
            <form method="post" action= "/album_creation">
                <label for="name">Album name:</label>
                <input type="text" name="album_name" required='true' /><br />
                <input type="submit" />
            </form>

            <br><a href='/'>Home</a>
    </body>
