<!-- authors Brenton Babb and Raymond Chu (babbb@bu.edu, raychu@bu.edu)-->
<!doctype html>

<h2>{{ picture_id }}</h2>
{% if message %}
    <h2>{{message}}</h2>
{% endif %}
<h2>Comments:</h2>
{% if comments %}
    <ul>
    {% for comments in comments %}
            <a href="/profile/{{comments[3]}}" class="button" name="commenter_link">User: {{comments[1]}}</a>
            Date: {{comments[2]}}<br>
            Comment: {{comments[0]}}<br>
            <br>
    {% endfor %}
    </ul>
{% endif %}

</div>
<form method="post" action= "/comments/{{ picture_id }}">
    <label for="comment">Comment:</label>
    <input type="text" name="comment" required = /><br />
    <input type="submit" />
</form>





