<!-- author ben lawson (balawson@bu.edu) -->
<head>
  {% if msg %}
  <h4>{{msg}}!</h4>
  {% endif %}
  <title>Add a friend</title>
</head>
  <body>
      <div class="title">
          <h1>Your friends!</h1>
      </div>
          <form method="post" action="/friends">
              <label for="search">Add a friend by their email:</label>
              <input type="email" name="friends" required='true' /><br />
              <input type="submit" value="Add friend!" />
          </form>
  </body>
