<!-- authors Brenton Babb and Raymond Chu (babbb@bu.edu, raychu@bu.edu)-->
<!doctype html>
{% if message %}
<h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% endif %}

{% if albums %}
<h2>Albums:</h2>
<ul>
  {% for albums in albums %}
  <a href="/profile/{{user_id}}/{{albums[1]}}" class="button" name="album_link">{{albums[0]}}</a>
  {%if current_user == albums[2] %}
  -
  <a href="/album/{{albums[1]}}/delete" class="button" name="delete">Delete album: {{albums[0]}}</a>
  {%endif%}
  <br>
  {% endfor %}
</ul>
{% endif %}


{% if photos %}
<h3>Popular tags:</h3>
<ul>
  <h2>Photos:</h2>
  {% for photo in photos %}
  <li>{{photo[2]}}
    <a href="/likes/{{photo[1]}}" class="button" name="like">Like</a>
    {%if current_user == photo[3] %}
    <a href="/{{photo[1]}}/delete" class="button" name="delete">Delete</a>
    {%else%}
    <a href="/comments/{{photo[1]}}" class="button" name="comments">Comment</a>
    <a href="/profile/{{photo[3]}}" class="button" name="poster">Profile</a>
    <a href="/tags/{{photo[1]}}" class="button" name="tags">Tags</a>
    {% endif %}
    <br>
    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' />
  </li>

  {% for result in results %}
  <div>
    <img src="{{ url_for('display_image', imgdata=result[0]) }}">
    <p>{{ result[1] }}</p>
  </div>
  {% endfor %}


  {% endfor %}
</ul>
{% endif %}



{% if message is none %}
<p>You should <a href='/login'>login!</a></p>
{% else %}
<p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
  <li><a href='/upload'>Upload a photo</a> </li>
  <li><a href='/album_creation'>Create a new album</a> </li>
  <li><a href='/global'>Global Feed</a> </li>
  <li><a href='/personal-feed'>Personal feed</a></li>
  <li><a href='/logout'>Logout</a></li>
  <li><a href='/'>Home</a></li>
  <li><a href='/friends'>Friends</a></li>
</ul>