
<h3>Popular tags:</h3>
<ul>
  {% for tag in popular_tags %}
    <li>{{ tag[0] }} ({{ tag[1] }} photos)</li>
  {% endfor %}
</ul>

<button type="submit">View all</button>
{% for tag in display_all %}
<p>Tag ID: {{ tag[0] }}</p>
<p>Picture ID: {{ tag[1] }}</p>
{% endfor %}
</form>
<form method="post" action="{{ url_for('add_tag') }}">
    <button type="submit">View my photos</button>
    {% for tag in display_user %}
    <p>Tag ID: {{ tag[0] }}</p>
    <p>Picture ID: {{ tag[1] }}</p>
    {% endfor %}